## Observations and Insights

In [1]:
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd
import scipy.stats as st

# Study data files
mouse_metadata_path = "data/Mouse_metadata.csv"
study_results_path = "data/Study_results.csv"

# Read the mouse data and the study results
mouse_metadata = pd.read_csv(mouse_metadata_path)
study_results = pd.read_csv(study_results_path)

# Combine the data into a single dataset
combined_result = mouse_metadata.merge(study_results, on="Mouse ID", how="outer")

# Display the data table for preview
combined_result

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.000000,0
1,k403,Ramicane,Male,21,16,5,38.825898,0
2,k403,Ramicane,Male,21,16,10,35.014271,1
3,k403,Ramicane,Male,21,16,15,34.223992,1
4,k403,Ramicane,Male,21,16,20,32.997729,1
...,...,...,...,...,...,...,...,...
1888,z969,Naftisol,Male,9,30,25,63.145652,2
1889,z969,Naftisol,Male,9,30,30,65.841013,3
1890,z969,Naftisol,Male,9,30,35,69.176246,4
1891,z969,Naftisol,Male,9,30,40,70.314904,4
1892,z969,Naftisol,Male,9,30,45,73.867845,4

In [2]:
# Checking the number of mice.

# Checking the number of mice with duplicates
mice_count = combined_result["Mouse ID"].count()
print(f"The total number of mice records is: {mice_count}")

The total number of mice records is: 1893

In [19]:
# Getting the duplicate mice by ID number that shows up for Mouse ID and Timepoint. 
duplicated_rows = combined_result[combined_result.duplicated(["Mouse ID", "Timepoint"])]
duplicated_rows_df = pd.DataFrame(duplicated_rows)
duplicated_rows_df

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
909,g989,Propriva,Female,21,26,0,45.000000,0
911,g989,Propriva,Female,21,26,5,47.570392,0
913,g989,Propriva,Female,21,26,10,49.880528,0
915,g989,Propriva,Female,21,26,15,53.442020,0
917,g989,Propriva,Female,21,26,20,54.657650,1

In [20]:
# Optional: Get all the data for the duplicate mouse ID.

In [25]:
# showing all the duplicated records with same Mouse ID (record of first Mouse ID is omitted in this table)
duplicated_rows_all = combined_result[combined_result.duplicated(["Mouse ID"])]
duplicated_rows_all.reset_index(drop=True)

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,5,38.825898,0
1,k403,Ramicane,Male,21,16,10,35.014271,1
2,k403,Ramicane,Male,21,16,15,34.223992,1
3,k403,Ramicane,Male,21,16,20,32.997729,1
4,k403,Ramicane,Male,21,16,25,33.464577,1
...,...,...,...,...,...,...,...,...
1639,z969,Naftisol,Male,9,30,25,63.145652,2
1640,z969,Naftisol,Male,9,30,30,65.841013,3
1641,z969,Naftisol,Male,9,30,35,69.176246,4
1642,z969,Naftisol,Male,9,30,40,70.314904,4
1643,z969,Naftisol,Male,9,30,45,73.867845,4

In [5]:
# Create a clean DataFrame by dropping the duplicate mouse by its ID.
mice_count_df = pd.DataFrame(combined_result.drop_duplicates(subset="Mouse ID", keep="first")) 
mice_count_df.reset_index(drop=True)

,Mouse ID,Drug Regimen,Sex,Age_months,Weight (g),Timepoint,Tumor Volume (mm3),Metastatic Sites
0,k403,Ramicane,Male,21,16,0,45.0,0
1,s185,Capomulin,Female,3,17,0,45.0,0
2,x401,Capomulin,Female,16,15,0,45.0,0
3,m601,Capomulin,Male,22,17,0,45.0,0
4,g791,Ramicane,Male,11,16,0,45.0,0
...,...,...,...,...,...,...,...,...
244,z314,Stelasyn,Female,21,28,0,45.0,0
245,z435,Propriva,Female,12,26,0,45.0,0
246,z581,Infubinol,Female,24,25,0,45.0,0
247,z795,Naftisol,Female,13,29,0,45.0,0
248,z969,Naftisol,Male,9,30,0,45.0,0

In [6]:
# Checking the number of mice in the clean DataFrame.
count_mice = mice_count_df["Mouse ID"].count()
print(f"Total number of mice: {count_mice}")

Total number of mice: 249

## Summary Statistics

In [7]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Use groupby and summary statistical methods to calculate the following properties of each drug regimen: 
# mean, median, variance, standard deviation, and SEM of the tumor volume. 
# Assemble the resulting series into a single summary dataframe.

In [37]:
# - mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen
vol_mean = combined_result.groupby("Drug Regimen")["Tumor Volume (mm3)"].mean()
vol_median = combined_result.groupby("Drug Regimen")["Tumor Volume (mm3)"].median()
vol_variance = combined_result.groupby("Drug Regimen")["Tumor Volume (mm3)"].var()
vol_st_dev = combined_result.groupby("Drug Regimen")["Tumor Volume (mm3)"].std()
vol_sem= combined_result.groupby("Drug Regimen")["Tumor Volume (mm3)"].sem()

In [38]:
# Assemble the resulting series into a single summary dataframe.
regimen_summary_df = pd.DataFrame({"Tumor Vol. Mean":vol_mean.map("{:.2f}".format), 
                                  "Tumor Vol. Median":vol_median.map("{:.2f}".format),
                                  "Tumor Vol. Variance":vol_variance.map("{:.2f}".format),
                                  "Tumor Vol. St.Dev":vol_st_dev.map("{:.2f}".format),
                                  "Tumor Vol. SEM":vol_sem.map("{:.2f}".format)})
regimen_summary_df

,Tumor Vol. Mean,Tumor Vol. Median,Tumor Vol. Variance,Tumor Vol. St.Dev,Tumor Vol. SEM
Drug Regimen,,,,,
Capomulin,40.68,41.56,24.95,4.99,0.33
Ceftamin,52.59,51.78,39.29,6.27,0.47
Infubinol,52.88,51.82,43.13,6.57,0.49
Ketapril,55.24,53.70,68.55,8.28,0.60
Naftisol,54.33,52.51,66.17,8.13,0.60
Placebo,54.03,52.29,61.17,7.82,0.58
Propriva,52.32,50.85,42.35,6.51,0.51
Ramicane,40.22,40.67,23.49,4.85,0.32
Stelasyn,54.23,52.43,59.45,7.71,0.57
Zoniferol,53.24,51.82,48.53,6.97,0.52

In [58]:
# Generate a summary statistics table of mean, median, variance, standard deviation, and SEM of the tumor volume for each regimen

# Using the aggregation method, produce the same summary statistics in a single line
regimen_summary_agg = combined_result.groupby("Drug Regimen").aggregate([combined_result["Tumor Volume (mm3)"].mean])

ValueError: no results

## Bar and Pie Charts

In [65]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pandas.
regimen_number_df = pd.DataFrame(combined_result.groupby("Drug Regimen"))
regimen_name = list(combined_result["Drug Regimen"].unique())
#regimen_number_df_plot =

['Ramicane',
 'Capomulin',
 'Infubinol',
 'Placebo',
 'Ceftamin',
 'Stelasyn',
 'Zoniferol',
 'Ketapril',
 'Propriva',
 'Naftisol']

In [10]:
# Generate a bar plot showing the total number of measurements taken on each drug regimen using pyplot.

In [11]:
# Generate a pie plot showing the distribution of female versus male mice using pandas

In [12]:
# Generate a pie plot showing the distribution of female versus male mice using pyplot

## Quartiles, Outliers and Boxplots

In [13]:
# Calculate the final tumor volume of each mouse across four of the treatment regimens:  
# Capomulin, Ramicane, Infubinol, and Ceftamin

# Start by getting the last (greatest) timepoint for each mouse


# Merge this group df with the original dataframe to get the tumor volume at the last timepoint

In [14]:
# Put treatments into a list for for loop (and later for plot labels)


# Create empty list to fill with tumor vol data (for plotting)


# Calculate the IQR and quantitatively determine if there are any potential outliers. 

    
    # Locate the rows which contain mice on each drug and get the tumor volumes
    
    
    # add subset 
    
    
    # Determine outliers using upper and lower bounds

In [15]:
# Generate a box plot of the final tumor volume of each mouse across four regimens of interest

## Line and Scatter Plots

In [16]:
# Generate a line plot of tumor volume vs. time point for a mouse treated with Capomulin

In [17]:
# Generate a scatter plot of average tumor volume vs. mouse weight for the Capomulin regimen

## Correlation and Regression

In [18]:
# Calculate the correlation coefficient and linear regression model 
# for mouse weight and average tumor volume for the Capomulin regimen